/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-ago-2018, 9.20.11
    Author     : franc
*/

.weapon_button { -fx-background-color: #151928 ;
-fx-text-fill: #FFFFFF;}

.exit_button { -fx-background-color: #FF1F10 ;
-fx-text-fill: #FFFFFF;}

.sound_button{-fx-background-color: #1D8348 ;
-fx-text-fill: #FFFFFF;}